
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
  
body {
    display: flex;
    height: 100vh;
}

a {
    color: #00acfb;
    text-decoration: none;
    transition: color 150ms;
}

a:hover {
    color: #4fc2f7;
}

#drawer {
    height: 100%;
    width: 100%;
}

.main-content {
    overflow: auto;
    height: 100vh;
    padding: 3rem 3rem 0 3rem;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.body-content {
    height: 100%;
}

.app-bar {
    position: absolute;
}

:root {
    --mdc-theme-primary: #00acfb !important;
    --mdc-theme-secondary: #4fc2f7 !important;
}

.mdc-drawer-app-content {
    flex: auto;
    overflow: auto;
    position: relative;
}

.mdc-drawer {
    width: auto;
}

.mdc-drawer-image, .mdc-drawer-wrapper {
    vertical-align: middle;
}

.mdc-drawer-image {
    width: 14rem;
}

.mdc-drawer .mdc-list-item {
    margin: 0;
    border-radius: 0;
    height: 60px;
    padding: unset !important;
}

.mdc-list-item-content {
    padding: unset !important;
    width: 100%;
    height: 100%;
    padding-left: 1rem !important;
    padding-top: 1.25rem !important;
}

.mdc-drawer .mdc-list-item--activated {
    color: #00acfb !important;
    font-weight: bold;
}

.mdc-drawer .mdc-list-item--activated .mdc-list-item__graphic {
    color: #00acfb !important;
}

.mdc-drawer .mdc-list-item__text, .mdc-drawer .mdc-list-item__graphic {
    pointer-events: none;
    display: inline-block;
    margin-right: 1rem;
    margin-top: 0.5rem;
    vertical-align: middle !important;
}

.mdc-drawer-wrapper .mdc-list-item__graphic {
    margin-right: 0.5rem;
}

.mdc-drawer__subtitle {
    width: auto;
    display: inline-block;
    vertical-align: middle;
}

.mdc-drawer__subtitle a {
    font-weight: normal;
}

.mdc-layout-grid__title {
    text-align: center;
}

.mdc-typography--body1 {
    font-size: 1.25rem;
}

.mdc-layout-grid {
    height: calc(100vh - 3rem);
}

.mdc-layout-grid__inner {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    height: calc(100% - 10rem);
}

.mdc-layout-grid__cell {
    grid-column-end: unset;
}

.mdc-image {
    width: 100%;
    background: url('/public/images/colton-1.jpg');
    background-size: 100% auto;
    background-position: top;
    background-repeat: no-repeat;
}